:root {
	--sweatergreen: #3d8425;
	--SweaterDkGreen: #52621e;
	--SweaterDarkRed: #611913;
	--SweaterRed:  #B11313;
	--offWhite: #bdadad;
}


body {
	overflow: hidden;
	padding: 0;
	margin: 0;
	color: white;
}

.main {
	background: rgb(0 0 0);
	height: 75%;
	width: 90vw;
	padding: 100px;
	flex-wrap: wrap;
	flex-direction: row;
}

.flex-container > div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

/* SWEATER SWEATER     ////// */

 .sweater {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--sweatergreen);
	flex-direction: row;
	overflow: hidden;

}
.collar, .base, .redzagtop, .redzagbttm, .toprow, .secndrow  {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: center;
  align-items: center; 
  position: relative;
}


.collar, .base {
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: center;
  align-items: center; 
  position: relative;
}



.stitch {
	background-color: var(--sweatergreen);
	border: 4px dashed var(--SweaterDarkRed);
	border-right: 2px dashed var(--SweaterDarkRed);
	border-left: 2px dashed var(--SweaterDarkRed);
	height: 34px;
	width: 9.09%;
	padding: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.stitch p {
	transform: rotate(90deg);
}


.torso {
	height: 82%;
	width: 100%;
	background-image:
        url(https://i.imgur.com/uYjnk8N.png),
           url(https://i.imgur.com/iAGD6MA.png),
           url(https://i.imgur.com/hIJDjbg.png);
    display: flex;
	justify-content: center;

}



.wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
}


.skyrow{
	width: 100%;
	height: 8px;
	background: var(--SweaterDarkRed);
	position: relative;
}

.groundrow{
	width: 100%;
	height: 8px;
	background: var(--SweaterDarkRed);
	position: relative;
}

.droids {
	width: 100%;
	height: 400px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;

}

.BD-72 {
	width: 200px;
	height: 300px;
	background-color: var(--sweatergreen);
	border: 4px solid white;

}

.Gonk {
	width: 200px;
	height: 250px;
	background-color: var(--sweatergreen);
	border: 4px solid white;

}