:root {
	--sweatergreen: #3d8425;
	--SweaterDkGreen: #52621e;
	--SweaterDarkRed: #611913;
	--SweaterRed:  #B11313;
	--offWhite: #bdadad;
}


body {
	overflow: hidden;
	padding: 0;
	margin: 0;
	color: white;
}

.main {
	background: rgb(0 0 0);
	height: 75%;
	width: 90vw;
	padding: 100px;
	flex-wrap: wrap;
	flex-direction: row;
}

.flex-container > div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

/* SWEATER SWEATER     ////// */

 .sweater {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--sweatergreen);
	flex-direction: row;
	overflow: hidden;

}
.collar, .base, .redzagtop, .redzagbttm, .toprow, .secndrow  {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: center;
  align-items: center; 
  position: relative;
}


.collar, .base {
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: center;
  align-items: center; 
  position: relative;
}



.stitch {
	background-color: var(--sweatergreen);
	border: 4px dashed var(--SweaterDarkRed);
	border-right: 2px dashed var(--SweaterDarkRed);
	border-left: 2px dashed var(--SweaterDarkRed);
	height: 34px;
	width: 9.09%;
	padding: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.stitch p {
	transform: rotate(90deg);
}


.torso {
	height: 75%;
	width: 100%;
	background-image:
        url(https://i.imgur.com/uYjnk8N.png),
           url(https://i.imgur.com/iAGD6MA.png),
           url(https://i.imgur.com/hIJDjbg.png);

    display: grid;
	justify-content: center;
	align-items: ;
}



.InnerSweater {
	width: 900px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	
	gap: 50px;
	column-gap: 40px;
}

.snowRow {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	gap: 140px;
	margin-top: 10px;
}

.snow{
	height: 50px;
	width: 50px;
	border-radius: 10%;
	background: white;
	display: grid;
	justify-content: center;
	align-items: center;
	/*filter: drop-shadow(4px 2px 1.5rem black); */
	
}

.snow_bottom{
	width: 70px;
	height: 70px;
	border-radius: 10%;
	background: white;
	display: grid;
	justify-content: center;
	align-items: center;
}

.trunk{
	width: 70px;
	height: 46px;
	background: white;
	position: absolute;
	margin-bottom: -448px;
	margin-left: -30px;
	}

.topperT {
	width: 30px;
	height: 10px;
	background: var(--sweatergreen);
	position: relative;	
}

.vrt {
	transform: rotate(90deg);
	z-index: 2;
	margin-top: -9px;
}

.left{
	width: 82px;
	transform: rotate(45deg);
	margin-left: -14px;

}
.right{
	width: 82px;
	transform: rotate(-45deg);
	margin-left: -14px;
}

/* hats */



.hourglassRow {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	gap: 80px;
}



.redtree{
	height: 0px;
	width: 0px;
	background: transparent;
	
	border-top: 0px solid transparent;
	border-bottom: 195px solid var(--SweaterRed);
	border-left: 90px solid transparent;
	border-right: 90px solid transparent;
	display: grid;
	justify-content: center;
	align-items: center;
}

.redtree_mid{
	height: 0px;
	width: 0px;
	background: transparent;
	
	border-top: 0px solid transparent;
	border-bottom: 165px solid var(--SweaterRed);
	border-left: 80px solid transparent;
	border-right: 80px solid transparent;
	display: grid;
	justify-content: center;
	align-items: center;
	margin-top: -40px;
}

.redtree_top{
	height: 0px;
	width: 0px;
	background: transparent;
	
	border-top: 0px solid transparent;
	border-bottom: 100px solid var(--SweaterRed);
	border-left: 50px solid transparent;
	border-right:50px solid transparent;
	display: grid;
	justify-content: center;
	align-items: center;
	margin-top: -30px;
}

.wrapper {
	width: 100%;
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	gap: 25px;
}

.flake_wrapper{
	width: 100%;
    display: flex;
    flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 60px;

}

.flake_wrapper2{
	width: 100%;
    display: flex;
    flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 180px;

}

.flake_wrapperTop{
	width: 40px;
    display: flex;
    flex-direction: column;

	gap: 20px;
	column-gap: 20px;
	

	margin-left: -20px;
	margin-top: -99px;
	position: absolute;
}

.topper{
	width: 30px;
	height: 30px;
	background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
	margin-left: -16px;
	margin-top: -146px;
	position: absolute;
}

.flakes, .toppercenter {
	width: 10px;
	height: 10px;
	background: white;
}

.toppercenter{
	margin-top: -10px;
	z-index: 5;
}


.tree_topper{
	margin-left: -4px;
	width: 10px;
	height: 10px;
	border-radius: 44%;
}

.scarf{
	width: 48px;
	height: 6px;
	background: var(--SweaterRed);
	position: relative;
}



.tree{
	width: 1px;
	height: 1px;

	border-bottom: 60px solid var(--SweaterDarkRed);
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	margin-top: 6px;
}
