:root {
	--sweatergreen: #3d8425;
	--SweaterDkGreen: #52621e;
	--SweaterDarkRed: #611913;
	--SweaterRed:  #B11313;
	--offWhite: #bdadad;
}


body {
	overflow: hidden;
	padding: 0;
	margin: 0;
	color: white;
}

.main {
	background: rgb(0 0 0);
	height: 75%;
	width: 90vw;
	padding: 100px;
	flex-wrap: wrap;
	flex-direction: row;
}

.flex-container > div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

/* SWEATER SWEATER     ////// */

 .sweater {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--sweatergreen);
	flex-direction: row;
	overflow: hidden;

}
.collar, .base, .redzagtop, .redzagbttm, .toprow, .secndrow  {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: center;
  align-items: center; 
  position: relative;
}


.collar, .base {
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: center;
  align-items: center; 
  position: relative;
}



.stitch {
	background-color: var(--sweatergreen);
	border: 4px dashed var(--SweaterDarkRed);
	border-right: 2px dashed var(--SweaterDarkRed);
	border-left: 2px dashed var(--SweaterDarkRed);
	height: 34px;
	width: 9.09%;
	padding: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.stitch p {
	transform: rotate(90deg);
}


.torso {
	height: 82%;
	width: 100%;
	background-image:
        url(https://i.imgur.com/uYjnk8N.png),
           url(https://i.imgur.com/iAGD6MA.png),
           url(https://i.imgur.com/hIJDjbg.png);
    display: flex;
	justify-content: center;

}



.wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
}


.skyrow{
	width: 100%;
	height: 8px;
	background: var(--SweaterDarkRed);
	position: relative;
}

.groundrow{
	width: 100%;
	height: 8px;
	background: var(--SweaterDarkRed);
	position: relative;
}

.droids {
	width: 100%;
	height: 400px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;

}

.BD-72 {
	width: 200px;
	height: 300px;
	background-color: var(--sweatergreen);


	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}

.BD-72_head {
	width: 100px;
	height: 25px;
	background-color: var(--sweatergreen);
	border: 4px solid white;

	display: flex;
	justify-content: space-around;
	align-items: center;

}

.antenna_wrapper{
   width: 100px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.antenna {
	width: 6px;
	height: 18px;
	background-color: white;
}

.eyes {
	width: 12px;
	height: 12px;
	background-color: var(--SweaterDarkRed);
}

.BD-72_neck, .BD-72_leg {
	width: 8px;
	height: 10px;
	background-color: white;
}

.BD-72_body {
	width: 80px;
	height: 90px;
	background-color: var(--sweatergreen);
	border: 4px groove white;
	border-radius: 4%;
	display: flex;
	justify-content: center;
}

.RedLights{
	width: 70px;
	height: 10px;
	background-color: var(--SweaterDarkRed);
}

.BD-72_leg_container {
	width: 38px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}

.BD-72_feet_container {
	width: 110px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: row;
}

.BD-72_foot {
	width: 20px;
	height: 6px;
	background-color: white;
	border: 4px solid white;
}

.Gonk_body{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.Gonk_section1 {
	width: 150px;
	height: 50px;
	background-color: var(--sweatergreen);
	border: 4px solid white;
	border-bottom-color: transparent;
	border-radius: 5%;
	margin-top: -272px;
	position: absolute;

}
.Gonk_section2 {
	width: 180px;
	height: 50px;
	background-color: var(--sweatergreen);
	border: 4px solid white;
	border-bottom-color: transparent;
	border-radius: 5%;


}
.Gonk_section3 {
	width: 200px;
	height: 16px;
	background-color: var(--sweatergreen);
	border: 4px solid white;
	border-radius: 5%;

}

.Button{
	height: 40px;
	width: 60px;
	background-color: var(--SweaterDarkRed);
	margin-top: 4px;
	margin-left: 5px;
}

.Gonk_section4 {
	width: 180px;
	height: 50px;
	background-color: var(--sweatergreen);
	border: 4px solid white;
	border-bottom-color: white;
	border-top-color: transparent;
	border-radius: 5%;

	display: flex;
	justify-content: flex-start;

}
.Gonk_section5 {
	width: 150px;
	height: 50px;
	background-color: var(--sweatergreen);
	border: 4px solid white;
	border-top-color: transparent;
	border-radius: 5%;

	margin-top: -5px;

}

.Gonk_feet_container {
	width: 130px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: row;
	gap: 10px;
}

.Gonk_foot {
	width: 60px;
	height: 26px;
	background-color: var(--sweatergreen);
	border: 4px solid white;
}