:root {
	--MainPurple: #7d3b74;  /*#3d8425; */
	--Yellow: #ffd700;
	--Red: #ff0000f2;
	--Blue: #0028ff;
	--Pink: #ff00a7;
	--Purple: #d700ff;
}

/* Use black to blue liner gradient */

body {
	overflow: hidden;
	padding: 0;
	margin: 0;
	color: white;
}

.main {
	background: white;
	height: 75%;
	width: 90vw;
	padding: 100px;
	flex-wrap: wrap;
	flex-direction: row;
}

.flex-container > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}


/* SWEATER SWEATER     ////// */

 .sweater {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: transparent; 
    flex-direction: row;

}
.collar, .base  {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: center;
  align-items: center; 
  position: relative;
}


.collar, .base {
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: center;
  align-items: center; 
  position: relative;
}


.stitch{
/*	background-color: black; */
	height: 10px;
	width: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 4px; 
}


.torso {
	height: 75%;
	width: 100%;
}




/* CHARACTER    //////////////// */

.character {
	display: flex;
	justify-content: center;
	/*align-items: center; HIDDEN FOR TEXT TO DISPLAY AT TOP */
	position: relative; 
	overflow: visible;
	margin: -10px 0 0 0;
}

.box {
	height: 364px;
	width: 225px; 
	border: 4px black solid;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 30px; 
	margin-top: 10px;
	overflow: hidden;
	filter: drop-shadow(14px 14px 10px black);
}

.box_purple_first {
	background: linear-gradient(
      var(--Purple), 
      var(--Blue)
    );
}

.box_33Percent {
	background: 
linear-gradient(
      var(--Purple) 33%, 
      var(--Blue)
    );
}

.box_66Percent {
	background: 
linear-gradient(
      var(--Purple) 66%, 
      var(--Blue)
    );

}

.box_blue_first {
  background: linear-gradient(var(--Blue), 
		var(--Purple));
}



/* TO RIGHT */

.box_purple_first_R {
	background: linear-gradient(to right,
      var(--Purple), 
      var(--Blue)
    );
}

.box_33Percent_R {
	background: 
linear-gradient(to right,
      var(--Purple) 33%, 
      var(--Blue)
    );
}

.box_66Percent_R {
	background: 
linear-gradient(to right,
      var(--Purple) 66%, 
      var(--Blue)
    );

}

.box_blue_first_R {
  background: linear-gradient( to right, var(--Blue), 
		var(--Purple));
}



.box_purple_first_R {
	background: linear-gradient(to right,
      var(--Purple), 
      var(--Blue)
    );
}

.box_L {
	background: 
linear-gradient(to left,
      var(--Purple), 
      var(--Blue)
    );
}

.box_purple_first {
	background: 
linear-gradient(
      var(--Purple), 
      var(--Blue)
    );

}

.box_to_Top {
  background: linear-gradient( to top, var(--Purple), 
		var(--Blue));
}





/* RED AND YELLOW */


.box_red_first {
	background: linear-gradient(
      var(--Red), 
      var(--Yellow)
    );
}


.box_red_33Percent {
	background: 
linear-gradient(
      var(--Red) 33%, 
      var(--Yellow)
    );
}

.box_red_66Percent {
	background: 
linear-gradient(
      var(--Red) 66%, 
      var(--Yellow)
    );

}

.box_yellow_first {
  background: linear-gradient(var(--Yellow), 
		var(--Red));
}


.box_red_first_angle {
	background: linear-gradient(
      var(--Red), 
      var(--Yellow)
    );
}


.box_red_33Percent_angle {
	background: 
linear-gradient(45deg,
      var(--Red), 
      var(--Yellow)
    );
}

.box_red_66Percent_angle {
	background: 
linear-gradient(90deg,
      var(--Red), 
      var(--Yellow)
    );

}

.box_yellow_first_angle {
  background: linear-gradient( -45deg, var(--Yellow), 
		var(--Red));
}


/* Multi Shapes */



.multi_Colors_2 {
		background: linear-gradient(
      var(--Purple), 
      var(--Blue),
      var(--Purple)
    );

}


.multi_Colors_3 {
		background: linear-gradient(
      var(--Purple), 
      var(--Blue),
      var(--Purple),
      var(--Blue),
      var(--Purple)
    );
}

.multi_Colors_4 {
	background: linear-gradient(
      var(--Blue),
      var(--Purple),
      var(--Blue)
    );
}



.black_box {
	width: 50px;
	overflow: visible;
	background: 
	linear-gradient(to right,
      black, 
      var(--Blue));
  
	filter: drop-shadow(14px 14px 10px black);

}
.black_box2 {
	width: 100px;
	overflow: visible;
	background: 
	linear-gradient(to right,
      black, 
      var(--Blue));
  
	filter: drop-shadow(14px 14px 10px black);

}
.black_box3 {
	width: 150px;
	overflow: visible;
	background: 
	linear-gradient(to right,
      black, 
      var(--Blue));
  
	filter: drop-shadow(14px 14px 10px black);

}

.box_text{
	color: black;
		font-size: 1.5em;

	justify-content: left;
	align-items: left;

	position: relative;
}

.black_box_cover {
	height: 396px;
	width: 1584px;
	overflow: visible;
	background: 
	linear-gradient(
      black, 
      var(--Blue));
  
	filter: drop-shadow(14px 14px 10px black);

}

li {
	list-style: none;
}

/* Radial Gradient */

.radial_basic {
	background: radial-gradient(
		var(--Purple),
		var(--Blue));
}

.radial_basic_red {
	background: radial-gradient(
		var(--Red),
		var(--Yellow));
}

.oval {
	border-radius: 45% 50%;
}

.circle {
	width: 364px;
	border-radius: 50%;
}


.empty {

	height: 100px;
}
/*

other gradients


.egg {
	background: 
	linear-gradient(to bottom right, var(--Pink), 
		white );
	height: 364px;
	width: 225px;

	border: 2px black solid;
	display: flex;
	justify-content: center;
	align-items: center;

	margin-left: 30px; 
	margin-top: 10px;
	overflow: hidden;

}


.egg_purple {
	background: 
linear-gradient(
      var(--Purple) 30%, 
      var(--Blue)
    );
}

.egg_radial {
	background: 
radial-gradient(
      var(--Purple) 30%, 
      var(--Blue)
    );

}

.egg_3color {
  background: linear-gradient(to bottom right, var(--Pink), 
		white, var(--Blue));
}
*/
