body {
	overflow: hidden;
	padding: 0;
	margin: 0;
}

.main {
	background: #333;
	height: 65%;
	width: 75%;
	padding: 100px;
}

.minifig_face {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(83 140 111 / 99%); /* rgba(120 181 150 / 99%); */
	flex-direction: column;
	border: 4px solid black;
	background-image: url(fish-net-14.png), radial-gradient(rgba(255, 204, 0, 0.01), rgb(253, 245, 192)); 

}

.eyes_pair {
	width: 400px;
	height: 150px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.eye_socket {
	width: 375px;
	height: 125px;
	display: flex;
	justify-content: center;
}


.eyes {
	height: 145px;
	width: 145px;
	background: white;
	border-radius: 100%;
	border: solid 4px black;
	margin:-10px 10px 0px 10px;
	display: flex;
	justify-content: center;
	position: relative;
}

/*.outerpupil {
	width: 25px;
	height: 120px;
	margin-top: 5px;
	background: rgb(152 25 25);
	border-radius: 100%;
	display: flex;
	justify-content: center;
} */

.pupil {
	width: 5px;
	height: 100px;
	margin-top: 5px;
	background: black;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	position: relative;
}

.catchlight {
	width: 15px;
	height: 110px;
	margin-top: 5px;
	background: yellow;
	border-radius: 100%;
	display: flex;
	justify-content: center;
} 


.nose_pair {
	
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.leftNostril {
	border-left: 30px solid transparent;
	/*border-right: 20px solid transparent; */
	border-bottom: calc(4 * 20px * 0.8) solid black;
	/*border-top: 20px solid transparent; */
	display: inline-block;
	margin-bottom: -70px;
}

.bridge {
	width: 6px;
}


.rightNostril {
	/*border-left: 20px solid transparent; */
	border-right: 30px solid transparent; 
	border-bottom: calc(4 * 20px * 0.8) solid black;
	/*border-top: 20px solid transparent; */
	display: inline-block;
	margin-bottom: -70px;
}

.mouth {
	width: 200px;
	height: 80px;
	background: rgb(121 19 19 / 87%);
	margin-top: 90px;
	border-radius: 100px;
	border: 4px solid black;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: relative;
	overflow: hidden;
}

.fangs {
	width: 5px;
	height: 65px;
	margin-top: -50px;
	background: #fff;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	position: relative;
	border: solid 31px black;  /* 1 for small 31px for 
	flame like teeth if white the white looks like teeth. if black the gums stand out and slooks fiery */
}

.fangs_bottom {
	width: 7px;
	height: 100px;
	margin-bottom:  -50px;
	background: #fff;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	position: relative;
	border: solid 1px black;
}