:root {
	--sweaterred: #c81f1f;
	--droidblue: rgb(85 143 191 / 42%);
}


body {
	overflow: hidden;
	padding: 0;
	margin: 0;
	color: white;
}

.main {
	background: rgb(0 0 0);
	height: 75%;
	width: 90vw;
	padding: 100px;
	flex-wrap: wrap;
	flex-direction: row;
}

.flex-container > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

/* SWEATER SWEATER     ////// */

 .sweater {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--sweaterred);
    flex-direction: row;

}
.collar, .base, .redzagtop, .redzagbttm, .toprow, .secndrow  {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: center;
  align-items: center; 
  position: relative;
}


.collar, .base {
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: center;
  align-items: center; 
  position: relative;
}


.stitch {
	border: 2px dashed black;
	border-right: 1px dashed black;
	border-left: 1px dashed black;
	height: 30px;
	width: 10%;
	display: flex;
	justify-content: center;
	align-items: center; 
}


.torso {
	height: 75%;
	width: 100%;
	background-image:
        url(https://i.imgur.com/uYjnk8N.png),
           url(https://i.imgur.com/iAGD6MA.png),
           url(https://i.imgur.com/hIJDjbg.png);

}


.redStitch {
	background-color: #c81f1f;
	border: 2px dotted var(--sweaterblue);
	height: 10px;
	width: 10%;
	display: flex;
	justify-content: center;
	align-items: center; 
}

.transpStitch {
	background-color: #ffffff;
	border: 2px dotted var(--sweaterblue);
	height: 10px;
	width: 10%;
	display: flex;
	justify-content: center;
	align-items: center; 
}


/* CHARACTER    //////////////// */

.character {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute; 
	overflow: visible;
}


.R2D2 {
	display: flex;
	justify-content: center;
	align-items: center; 
	overflow: hidden;
	flex-direction: column;
}

.head {
	background-color: var(--droidblue);
	height: 80px;
	width: 200px;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center; 
	overflow: hidden;
	flex-direction: column;
	border: 4px solid white;
	border-bottom: 1px solid white;
}

.eye {
	height: 20px;
	width: 20px;
	border: 6px solid white;
	background-color: white;
	border-radius: 50%;
}

.projector {
	height: 14px;
	width: 14px;
	background-color: white;
	border-radius: 50%;
	margin-left: 68px;
}

.midrow{
	overflow: visible;

}

.droidTorso {
	background-color: var(--droidblue);
	height:200px;
	width: 200px;
	display: flex;
	justify-content: space-around;
	align-items: center; 
	overflow: hidden;
	flex-direction: column;
	border: 4px solid white;
	border-top: 2px solid transparent;
	border-bottom-left-radius: 20%;
	border-bottom-right-radius: 20%;

}

.box {
	height: 10px;
	width: 50px;
	background-color: white;
}

.emptybox{
	background-color: transparent;
	height: 20px;
}  

.openbox{
	height: 60px;
	width: 40px;
	border:2px solid white;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.circle {
    height: 22px;
    width: 18px;
    border-radius: 33%;
	background-color: white;
}

.legs {
	height: 200px;
	width: 240px;
	border: 2px solid white;
	display: flex;
	justify-content: center;
	align-items: center; 
	overflow: visible;
	border-top-left-radius: 6%;
	border-top-right-radius: 6%;
	border-bottom: 2px solid transparent; 
}

.feetRow{
	height: 20px;
	width: 280px;
	
	display: flex;
	justify-content: space-around;
	align-items: center;

}

.foot{
	height: 10px;
	width: 40px;
	border: 4px solid white;
	border-top: 2px solid transparent;
}

.spacerFoot{
	height: 10px;
	width: 40px;
}

