:root {
	--MainPurple: #7d3b74;  /*#3d8425; */
	--DarkPurple: #1f1d21;
	--Yellow: #ffd700;
	--LgGreen: #00ff58;
	--Blue: #0028ff;
	--Pink: #ff00a7;
	--Purple: #d700ff;
	--Red: #ff0000f2;
}

body {
	overflow: hidden;
	padding: 0;
	margin: 0;
	color: var(--Purple);
}

.main {
	background: var(--DarkPurple);
	height: 75%;
	width: 90vw;
	padding: 100px;
	flex-wrap: wrap;
	flex-direction: row;
}

.flex-container > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}


/* SWEATER SWEATER     ////// */

 .sweater {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: transparent; 
    flex-direction: row;

}
.collar, .base, .redzagtop, .redzagbttm, .toprow, .secndrow  {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: center;
  align-items: center; 
  position: relative;
z-index: 99;
}


.collar, .base {
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: center;
  align-items: center; 
  position: relative;
}


.stitch{
	border: 2px dashed var(--Purple);
	border-right: 1px dashed var(--Purple);
	border-left: 1px dashed var(--Purple);
	height: 30px;
	width: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 4px; 
}

.batLeft {
  transform: rotate(45deg);
  font-size: 1.5rem;
}

.batUp {
  transform: rotate(-90deg);
  font-size: 2rem;
}

.batDown {
  transform: rotate(90deg);
  font-size: 2rem;
}

.batRight {
  transform: rotate(145deg);
  font-size: 1.5rem;
}

.eyes{
	font-size: 2rem;
	padding-top: 2px;
}

.torso {
	height: 75%;
	width: 100%;
	background: var(--DarkPurple);
}


.orangeStitch {
	background-color: var(--LgGreen);
	border: 2px dotted var(--DarkPurple);
	height: 15px;
	width: 10%;
	display: flex;
	justify-content: center;
	align-items: center; 
}

.whiteStitch {
	background-color: var(--Blue);
	border: 2px dotted var(--DarkPurple);
	height: 15px;
	width: 10%;
	display: flex;
	justify-content: center;
	align-items: center; 
}


/* CHARACTER    //////////////// */

.character {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute; 
	overflow: visible;
	margin: -10px 0 0 0;
}

.egg {
	background: 
	linear-gradient(to bottom right, var(--Pink), 
		white );
	height: 364px;
	width: 225px;
	border-top-right-radius: 51%;
	border-top-left-radius: 51%;
	border-bottom-left-radius: 40%;
	border-bottom-right-radius: 40%;
	border: 2px var(--Pink) solid;
	display: flex;
	justify-content: center;
	align-items: center;

	margin-left: 30px; 
	margin-top: 10px;
	overflow: hidden;
	border: 2px var(--DarkPurple) solid;
}

.egg_purple {
	background: 
linear-gradient(
      var(--Purple) 30%, 
      var(--Blue)
    );
border: 2px var(--DarkPurple) solid;

}

.egg_radial {
	background: 
radial-gradient(
      var(--Purple) 30%, 
      var(--Blue)
    );
border: 2px var(--DarkPurple) solid;

}

.egg_layers {
  background: linear-gradient(var(--Purple), var(--DarkPurple), var(--Pink), var(--Yellow));
}


/* Radial Gradient */

.radial_basic {
	background: radial-gradient(var(--Purple), var(--Pink), var(--Red));
}

.radial_basic_red {
  background: linear-gradient(var(--Pink), var(--Yellow), var(--Purple), var(--DarkPurple));

}


