:root {
	--MainPurple: #7d3b74;  /*#3d8425; */
	--DarkPurple: #1f1d21;
	--Yellow: #ffd700;
	--LgGreen: #00ff58;
	--Blue: #0028ff;
	--Pink: #ff00a7;
	--Purple: #d700ff;
	--Red: #ff0000f2;
}

body {
	overflow: hidden;
	padding: 0;
	margin: 0;
	color: var(--Purple);
}

.main {
	background: var(--DarkPurple);
	height: 75%;
	width: 90vw;
	padding: 100px;
	flex-wrap: wrap;
	flex-direction: row;
}

.flex-container > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}


/* SWEATER SWEATER     ////// */

 .sweater {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: transparent; 
    flex-direction: row;

}
.collar, .base, .redzagtop, .redzagbttm, .toprow, .secndrow  {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: center;
  align-items: center; 
  position: relative;
z-index: 99;
}


.collar, .base {
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: center;
  align-items: center; 
  position: relative;
}


.stitch{
	border: 2px dashed var(--Purple);
	border-right: 1px dashed var(--Purple);
	border-left: 1px dashed var(--Purple);
	height: 30px;
	width: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 4px; 
}

.batLeft {

  font-size: 1.5rem;
}

.batUp {

  font-size: 2rem;
}

.batDown {

  font-size: 2rem;
}

.batRight {

  font-size: 1.5rem;
}

.eyes{
	font-size: 2rem;

}

.torso {
	height: 75%;
	width: 100%;
	background: var(--DarkPurple);
}


.orangeStitch {
	background-color: var(--LgGreen);
	border: 2px dotted var(--DarkPurple);
	height: 15px;
	width: 10%;
	display: flex;
	justify-content: center;
	align-items: center; 
}

.whiteStitch {
	background-color: var(--Blue);
	border: 2px dotted var(--DarkPurple);
	height: 15px;
	width: 10%;
	display: flex;
	justify-content: center;
	align-items: center; 
}


/* CHARACTER    //////////////// */

.character {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute; 
	overflow: visible;
	margin: -10px 0 0 0;
}

.egg {
	background: 
	linear-gradient(to bottom right, var(--Pink), 
		white );
	height: 364px;
	width: 225px;
	aspect-ratio: 3 / 4;
	border-radius: 100% / 125% 125% 80% 80%;
	border: 2px var(--Pink) solid;
	display: flex;
	justify-content: center;
	align-items: center;

	margin-left: 30px; 
	margin-top: 10px;
	overflow: hidden;
	border: 2px var(--DarkPurple) solid;
}

.egg_purple {
	background: 
linear-gradient(
      var(--Purple) 30%, 
      var(--Blue)
    );
border: 2px var(--DarkPurple) solid;

}

.egg_radial {
	background: 
radial-gradient(
      var(--Purple) 30%, 
      var(--Blue)
    );
border: 2px var(--DarkPurple) solid;

}



/* Gradient */


.sunset {
  background: linear-gradient(var(--Pink), var(--Yellow), var(--Purple), var(--DarkPurple));
}
.radial_basic {
	background: radial-gradient(var(--Purple), var(--Pink), var(--Red));
}

.eggshape_gradient {
  background: linear-gradient(to right, var(--Purple) 10% 20%, var(--DarkPurple) 30% 40%, var(--Pink) 50% 60%, var(--Yellow) 90%);
}

.sunset_reflection {
  background: linear-gradient(var(--Purple), var(--DarkPurple), var(--Pink), var(--Yellow));
}

/* Blues */

.egg_gradient_bottom {

  background: linear-gradient(
  	var(--Pink), 
  	var(--Yellow), 
  	var(--Purple), 
  	var(--DarkPurple));
}

.egg_gradient_right {
 
  background: linear-gradient(to right,
   var(--Pink), 
   var(--Yellow), 
   var(--Purple),
   var(--DarkPurple));
}


.egg_gradient_top {

	background: 
	linear-gradient(to top,
       var(--Pink), 
       var(--Yellow), 
       var(--Purple), 
       var(--DarkPurple));
}

.egg_gradient_left {
	
	background: 
	linear-gradient(to left,
       var(--Pink), 
       var(--Yellow), 
       var(--Purple), 
       var(--DarkPurple));
}

