:root {
  --Black: #000;
  --White: #f0e4e4;
  --Purple: #5d5080;
  --Gray: #5c5470;
  --MidGray: #352f44;
  --DarkGray: #2a2438;
  --DarkRed: #a42624;
}

.body {
  background-color: black;
}


.flex-container > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background: var(--Black);
      justify-content: center;
  align-items: center; 
  position: relative;
}


.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Vert 300 H 600, Hort w 950 v 330 */

.outer_frame {
  width: 900px;
  height: 600px;
  border: 4px white solid;
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: row;
  background-color: #333;
}


.subject {
	display: flex;
	justify-content: center;

	/*position: absolute; */
	overflow: visible;

	flex-direction: column;
/*	filter: drop-shadow(0 0 1.5rem white); */
}

.eyeball {
  height: 275px;
  width: 275px;
  border-radius: 50%;
  background-color: var(--Black);

  display: flex;
  justify-content: center;
  overflow: hidden;
  filter: drop-shadow(0 0 0.75rem black);
    box-shadow: inset -25px -25px 40px rgba(0,0,0,.5);

}

.eye {
  height: 175px;
  width: 175px;
  border-radius: 50%;
  margin-top: 44px; 
  background-color: #103c21;
  justify-content: center;
  overflow: hidden;
  box-shadow: inset -25px -25px 40px rgba(0,0,0,.5);

  filter: drop-shadow(0 0 1.5rem white);

  background-image: -webkit-linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);
background-image: -moz-linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);  
background-image: -o-linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);
background-image: -ms-linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);
}

.pupil {
height: 100px;
width: 100px;
border-radius: 50%;
margin-top: 30px;
margin-left: 36px;
background-color: black;

background-image: -webkit-linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);
background-image: -moz-linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);  
background-image: -o-linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);
background-image: -ms-linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);

border: 4px solid #1f602c;
}




.leftArm {
  background-color: rebeccapurple;
width: 100px;
height: 100px;
margin-top: 129px;
margin-right: -129px;
border-top-right-radius: 20%;
border-top-left-radius: 20%;
border-radius: 50%;
}
