body {
	overflow: hidden;
	padding: 0;
	margin: 0;
	color: white;
}

/* https://www.colorschemer.com/css-color-codes/  */

.main {
	background: rgb(0 0 0);
	height: 75%;
	width: 85vw;
	padding: 100px;
	flex-wrap: wrap;
	flex-direction: row;
}

.flex-container > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

/* SWEATER SWEATER     ////// */

 .sweater {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: transparent; 
    flex-direction: row;

}
.collar, .base, .redzagtop, .redzagbttm, .toprow, .secndrow  {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: center;
  align-items: center; 
  position: relative;
}


.collar, .base {
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: center;
  align-items: center; 
  position: relative;
}


.stitch{
	border: 2px dashed white;
	border-right: 1px dashed white;
	border-left: 1px dashed white;
	height: 30px;
	width: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 4px; 
}

.batLeft {
  transform: rotate(45deg);
  font-size: 1.5rem;
}

.batUp {
  transform: rotate(-90deg);
  font-size: 2rem;
}

.batDown {
  transform: rotate(90deg);
  font-size: 2rem;
}

.batRight {
  transform: rotate(145deg);
  font-size: 1.5rem;
}

.eyes{
	font-size: 2rem;
	padding-top: 2px;
}

.torso {
	height: 75%;
	width: 100%;
}


.orangeStitch {
	background-color: orange;
	border: 2px dotted black;
	height: 15px;
	width: 10%;
	display: flex;
	justify-content: center;
	align-items: center; 
}

.whiteStitch {
	background-color: white;
	border: 2px dotted black;
	height: 15px;
	width: 10%;
	display: flex;
	justify-content: center;
	align-items: center; 
}


/* CHARACTER    //////////////// */

.character {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute; 
	overflow: visible;
	margin-left: -60px;
}



.kong {
	background-color: #686565;
	height: 200px;
	width: 220px;
	display: flex;
	justify-content: center;
	align-items: center; 
	overflow: visible;
	flex-direction: column;

	border-top-right-radius: 40%;
	border-top-left-radius: 45%;
	border-bottom-right-radius: 48%;
	border-bottom-left-radius: 48%; 
	border: 6px dashed #686565;
	margin-bottom: 80px;
	justify-content: space-between;
	z-index: 0;
}


.eyes_pair {
	width: 140px;
	height: 90px;
	border-radius: 20%;
	background: #A9A9A9;
	margin-left: -190px;
    margin-top: -121px; 
	display: flex;
    position: relative;
    flex-direction: row-reverse;
    overflow: overlay;
    z-index: 1;

	border: 4px solid #A9A9A9;
	justify-content: space-between;


}

.WEyes {
	background-color: black;
	height: 54px;
	width: 54px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center; 
	border-top-right-radius: 13%;
    border-top-left-radius: 20%;
    border-bottom-right-radius: -38%;
}


.Wpupil {
	background-color: white;
	height: 14px;
    width: 14px;
    border-radius: 50%;
    margin-top: -8px;
    margin-right: -4px;
}



.beard {
	border-top:100px #686565;
	border-right: 100px solid transparent;
	border-bottom: 100px solid transparent;
	border-left: 100px solid transparent; 
	margin-top: 156px;
	z-index: 0;
	display: flex;
	justify-content: space-between;
}

.lines {
	position: relative;
	margin:0 auto;
	margin-top: -170px;
    border-left: 50px solid rgba(0, 0, 0, 0);
    border-right: 50px solid rgba(0, 0, 0, 0);
    border-top: 67px solid #000;
    height: 0;
    width: 0;
}
.lines:before {
	border-top: 66px solid #a9a9a9;
    border-left: 66px solid rgba(0, 0, 0, 0);
    border-right: 66px solid rgba(0, 0, 0, 0);
    content: "";
 	left: -66px;
    margin-top: -80px;
    position: absolute;
}


.mouth {
	width: 120px;
	height: 60px;
	background: #a75050;
	border-radius: 100px;
	
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: relative;
	overflow: hidden;
	margin-top: -29px;
    margin-left: -138px;

    border: 4px solid #686565;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    border-bottom-color: #000000;
    border-left-color:  #686565;
    border-right-color:  #686565;
    z-index: 8; 
}

.fangs {
	width: 25px;
    height: 33px;
	margin-top: -50px;
	background: #fff;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	position: relative;
	border: solid 1px black;  /* 1 for small 31px for 
	flame like teeth if white the white looks like teeth. if black the gums stand out and slooks fiery */
}

.fangs_bottom {
	width: 25px;
    height: 33px;
	margin-bottom:  -50px;
	background: #fff;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	position: relative;
	border: solid 1px black;
}

.nostrils {
	width: 25px;
    height: 25px;
    background-color: #A9A9A9;
    border: solid 2px black;
    border-radius: 50%;
    margin-top: -90px;
    margin-left: -63px;
    z-index: 7;
    display: flex;
    justify-content: center;
}

.nostrilsInside {
	width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
 	margin-top: 3px;
    z-index: 4;
}





/*
.Right, {
    transform: skew(25deg);
    border-right: 2px solid red;
    height: 70px;
    margin-top: -70px;
    margin-right: 11px;
}

.L {
    transform: skew(25deg);
    border-right: 2px solid #000000;
    height: 70px;
    margin-top: -70px;
    margin-right: 11px;
}

*/