body {
	overflow: hidden;
	padding: 0;
	margin: 0;
	color: white;
}

/* https://www.colorschemer.com/css-color-codes/  */

.main {
	background: #000;
	height: 75%;
	width: 90vw;
	padding: 100px;
	flex-wrap: wrap;
	flex-direction: row;
}

.flex-container > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}


/* SWEATER SWEATER     ////// */

 .sweater {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: transparent; 
    flex-direction: row;

}
.collar, .base, .redzagtop, .redzagbttm, .toprow, .secndrow  {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: center;
  align-items: center; 
  position: relative;
z-index: 99;
}


.collar, .base {
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: center;
  align-items: center; 
  position: relative;
}


.stitch{
	border: 2px dashed white;
	border-right: 1px dashed white;
	border-left: 1px dashed white;
	height: 30px;
	width: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 4px; 
}

.batLeft {
  transform: rotate(45deg);
  font-size: 1.5rem;
}

.batUp {
  transform: rotate(-90deg);
  font-size: 2rem;
}

.batDown {
  transform: rotate(90deg);
  font-size: 2rem;
}

.batRight {
  transform: rotate(145deg);
  font-size: 1.5rem;
}

.eyes{
	font-size: 2rem;
	padding-top: 2px;
}

.torso {
	height: 75%;
	width: 100%;
	background: black;
}


.orangeStitch {
	background-color: orange;
	border: 2px dotted black;
	height: 15px;
	width: 10%;
	display: flex;
	justify-content: center;
	align-items: center; 
}

.whiteStitch {
	background-color: white;
	border: 2px dotted black;
	height: 15px;
	width: 10%;
	display: flex;
	justify-content: center;
	align-items: center; 
}


/* CHARACTER    //////////////// */

.character {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute; 
	overflow: visible;
	margin: -10px 0 0 0;
}

.window {
	background: /*#4d108a;*/

	linear-gradient( rgb(77, 16, 138, 0.75), 
		#49FC84 );
	height: 368px;
	width: 225px;
	/*border: 4px solid #dc1eec; #b817c6;*/
	border-top-right-radius: 40%;
	border-top-left-radius: 40%;
	border-bottom-left-radius: 0%;
	border-bottom-right-radius: 0%;
	display: flex;
	justify-content: center;
	align-items: center;

	margin-left: 30px; 
	margin-top: -10px;
	 overflow: hidden;

}

.window_red {
	background: 
linear-gradient(
      rgba(255, 0, 0, 0.95), 
      rgba(255, 255, 0, 0.75)
    )
}


/* BLOCK HEAD ////////// */

	.blockHead {
	height: 79px;
	width: 72px;
	background: black;
	border-radius: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 6px solid #000;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
	z-index: auto;
	position: absolute;
	margin-top: -155px;
	margin-right: 50px;  
}

.blockHeadBody {
	height: 285px;
    width: 145px;
    background: black;

	display: flex;
	justify-content: center;
	align-items: center; 
	overflow: hidden;
	border: 6px solid #000;
	border-radius: 10%;
	justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 250px;
  margin-right: 50px;
  position:absolute;
  
}

.neck {
	background-color: black;
	height: 50px;
	width: 50px;
	margin-top: -20px;
	margin-left: -50px;
	position: absolute;

}

.shoulder {
	background-color: black;
	height: 51px;
	width: 27px;
	margin-top: 15px;
	margin-left: 120px;
	position: absolute;
	border-radius: 10%;

}
.arm {
	background-color: black;
	height: 200px;
	width: 27px;
	margin-top: 163px;
	margin-left: 141px;
	position: absolute;
	border-radius: 10%;
}

.shoulderLeft {
	background-color: black;
	height: 51px;
	width: 27px;
	margin-top: 15px;
	margin-left: -220px;
	position: absolute;
	border-radius: 10%;

}
.armLeft {
	background-color: black;
	height: 200px;
	width: 27px;
	margin-top: 163px;
	margin-left: -241px;
	position: absolute;
	border-radius: 10%;
}


/* spider ////////// */

.spider {
	height: 135px;
    width: 125px;
    background:
      rgba(0, 0, 0, 1);

	display: flex;
	justify-content: center;
	align-items: center; 
	overflow: visible;
	border-top-right-radius: 50%;
	border-top-left-radius: 50%;
	border-bottom-right-radius: 54%;
	border-bottom-left-radius: 54%; 
	justify-content: space-between;
	position: absolute;
	margin-top: -355px;
	margin-left: 100px
  
}
.spider2 {
	height: 85px;
    width: 85px;
    background:
      rgba(0, 0, 0, 1);

	display: flex;
	justify-content: center;
	align-items: center; 
	overflow: visible;
	border-top-right-radius: 50%;
	border-top-left-radius: 50%;
	border-bottom-right-radius: 54%;
	border-bottom-left-radius: 54%; 
	justify-content: space-between;
	margin-top: 145px;
	position: absolute;
  
}

/* ADD FANGS two over lapping circles
 red over back show thin slice of black for fangs  */


.leg1 {
  width: 150px;
  height: 8px;
  background-color: black;
    transform: rotate(140deg);
    position: absolute;
    margin-left: -86px;
    margin-top: 80px;

}
.leg1_knee {
  width: 129px;
  height: 8px;
  background-color: black;
  margin-left: -107px;
  margin-top: 285px;
  transform: rotate(-120deg);
  position: absolute;
}

.leg2 {
  width: 150px;
  height: 8px;
  background-color: black;
    transform: rotate(140deg);
    position: absolute;
    margin-left: -125px;
    margin-top: 92px;

}
.leg2_knee {
  width: 129px;
  height: 8px;
  background-color: black;
  margin-left: -136px;
  margin-top: 285px;
  transform: rotate(-120deg);
  position: absolute;
}

/* RIGHT */

.leg3 {
  width: 150px;
  height: 8px;
  background-color: transparent;
    transform: rotate(-140deg);
    position: absolute;
    margin-left: 35px;
    margin-top: 80px;

}
.leg3_knee {
  width: 129px;
  height: 8px;
  background-color: black;
margin-left: 51px;
margin-top: 283px;
transform: rotate(120deg);
  position: absolute;
}

.leg4 {
  width: 150px;
  height: 8px;
  background-color: transparent;
    transform: rotate(-140deg);
    position: absolute;
    margin-left: 73px;
    margin-top: 335px;

}

.leg4_knee  {
  width: 129px;
  height: 8px;
  background-color: black;
margin-left: 26px;
margin-top: 284px;
 transform: rotate(120deg);
  position: absolute;
}


/* //////// Raven ////////// */

.raven {
    background: black;
	height: 135px;
    width: 125px;
    transform: skew(15deg, 15deg);
	border-top-right-radius: 50%;
	border-top-left-radius: 50%;
	border-bottom-right-radius: 54%;
	border-bottom-left-radius: 54%; 
	justify-content: space-between;
	margin-top: 120px;
	margin-left: 75px;


	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center; 
	overflow: visible;
  
}

.ravenHead {
    background: black;
	height: 43px;
	width: 77px;
	transform: skew(-0.6turn, 1deg);
	border-top-right-radius: 50%;
	border-top-left-radius: 50%;
	border-bottom-right-radius: 44%;
	border-bottom-left-radius: 54%;
	justify-content: space-between;
	margin-top: -139px;
	margin-left: -62px;

	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center; 
	overflow: visible;
  
}


.ravenTailfeathers {
    background: black;
	height: 35px;
	width: 125px;
	transform: rotate(-140deg);
	/*transform: skew(35deg, 15deg);*/
	border-top-right-radius: 50%;
	border-top-left-radius: 50%;
	border-bottom-right-radius: 54%;
	border-bottom-left-radius: 54%;
		
	margin-top: -52px;
	margin-left: 104px;


	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center; 
	overflow: visible;
  
}


.ravenlegL {
width: 241px;
height: 8px;
background-color: #532020;
margin-left: -42px;
margin-bottom: -122px;
transform: rotate(120deg);
  position: absolute;
}


.ravenlegR {
  width: 241px;
height: 8px;
background-color: #000;
margin-left: -22px;
margin-bottom: -102px;
 transform: rotate(120deg);
  position: absolute;
}



.hourglass {
border-top: 125px solid #000;
border-bottom: 195px solid #000;
border-left: 40px solid transparent;
border-right: 40px solid transparent;
height: 0px;
width: 45px;
position: absolute;
border-radius: 20%;
margin-bottom: -155px;
}


.headlessArmLeft {
	background-color: red;
	height: 200px;
	width: 20px;
	margin-top: 43px;
	margin-left: -100px;
	position: absolute;
	border-radius: 20%;
}


.headlessArmRight {
	background-color: black;
	height: 130px;
	width: 20px;
	margin-top: 11px;
	margin-left: 100px;
	position: absolute;
	border-radius: 20%;
}

.headlessArmRightElbow {
background-color: black;
height: 55px;
width: 23px;
margin-top: 136px;
margin-left: 64px;
position: absolute;
transform: rotate(-120deg);
	border-radius: 20%;
}


/* ///// WINDOW PANE //// */

.centerLine {
	background-color: #000;
	height: 3px;
	width: 100%;
	z-index: 0;
	margin-top: 10px;

}


.verticalLine {
	background-color: #000;
	height: 100%;
	width: 6px;
	margin-top: 0px;	
	z-index: 0;
}




.hortLine {
	background-color: #000;
	height: 6px;
	width: 230px;
	z-index: 5;
	margin-left: 30px; 
	
}





/*
MESH Background with tint


linear-gradient(
      rgba(0, 0, 0, 0.75), 
      rgba(0, 0, 0, 0.75)
    ),
     url(images/me tal-mesh-vector-26.jpg); 

blackwidow hourglass
https://www.w3schools.com/howto/howto_css_shapes.asp

.trapezoid {
border-top: 25px solid #555;
	border-bottom: 25px solid #555;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	height: 0px;
	width: 25px;
}


     */