:root {
  --Black: #000;
  --White: #f0e4e4;
  --Purple: #8b73cc;
  --Gray: #5c5470;
  --MidGray: #352f44;
  --DarkGray: #2a2438;
  --DarkRed: #a42624;
  --Yellow: #FFCC00;
  --Orange: #d55326;
  --Water: #1e4886;
  --barbiePink: #EC4399;
  --barbieAccent: #F7B9D7;
  --Brown: #462626;
  --Tan: #997300;

  --Blue: #0028ff;

}


.flex-container > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  background: var(--Black);
      justify-content: center;
  align-items: center; 
  position: relative;
}


.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.outer_frame {
  width: 85%;
  height: 400px;
  border: 4px groove white;
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: row;
  background-color: var(--Water);
  border-radius: 10% / 50%;
}


.subject {
  width: auto;
	display: flex;
	justify-content: center;
	position: absolute; 
	overflow: visible;
  margin-top: 20px;
}

.duck_body {
  width: 200px;
  height: 160px;
  background: var(--Yellow);
  border: 2px solid var(--Black);
  border-radius: 80% 80% 40% 30%;
  margin-top: 25px;
  
  justify-content: center;
  position: absolute; 
  overflow: visible;
  /* 31% 69% 69% 31%/ 50% 100% 0 50%; */

}

.duck_head {
  width: 110px;
  height: 110px;
  background: var(--Yellow);
  border: 2px solid var(--Black);
  border-left-color: var(--Yellow);
  border-radius: 50%;
  margin-top: -33px;
  margin-left: 147px;
  transform: rotate(-33deg);
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;

}

.duck_wing {
  width: 175px;
  height: 100px;
  background: var(--Yellow);
  border: 2px solid var(--Black);
  
  border-top-right-radius: 30%;
  border-bottom-right-radius: 30%;
  
  border-bottom-left-radius: 80%;
  border-top-left-radius: 80%;
  border-right-color: var(--Yellow);
  position: absolute;
  margin-left: -99px;
  margin-top: 61px;
}

.duck_bill{
  width: 80px;
  height: 27px;
  background: var(--Orange);
  border: 2px solid var(--Black);
  border-radius: 30% 80% 80% 30%;
  margin-left: 290px;
  margin-top: 25px;
  position: absolute;
  display: flex;
  justify-content: end;
  align-items: center;
}

.line {
  width: 40px;
  height: 2px;
  background: var(--Black);
}

.eye {
  width: 34px;
  height: 34px;
  background: var(--White);
  border-radius: 50%;
  border: 2px solid var(--Black);
  margin-left: 51px;
  margin-top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .pupil {
  width: 14px;
  height: 14px;
  background: var(--Black);
  border-radius: 50%;
  margin-left: 5px;
}

/* ------ DARK MODE  ------------ */
.darkmode{
  background: var(--DarkGray);
  border: 2px solid var(--White);
}

.duck_wing{
  border-right-color: var(--DarkGray);
}

.duck_head {
    border-left-color: var(--DarkGray);
}


/* ------ Barbie Mode ------- */

.barbie_mode {
  background: var(--barbiePink);
  border: 2px solid var(--barbieAccent);

}

.duck _wing{
  border-right-color: var(--barbiePink);
}

.duck _head {
    border-left-color: var(--barbiePink);
}

.duck _bill{
  width: 80px;
  height: 27px;
  background: #ED5C9B;
  border: 2px solid var(--barbieAccent);
}

.barbie _line {
  background: var(--barbieAccent);
}

/* ---- penguin   -------- */

.penguin_mode{
  background: 
linear-gradient(
      var(--Black) 45%,
      var(--White)
    );
}

.penguin_mode_wing{
  background: 
linear-gradient(to right,
      var(--White) 33%,
      var(--Black)
    );
}

.penguin_mode_head{
  background: 
      var(--Black);
}
.penguin_bill{
  width: 80px;
  height: 27px;
  background: linear-gradient(
      var(--DarkGray) 30%,
      var(--Orange)
    );
  border: 2px solid var(--Black);
}

/*  porg */

.porg_mode{
  background: 
linear-gradient(
      var(--Brown) 45%,
      var(--White)
    );
}

.porg_mode_wing{
  background: var(--Brown);
}

.porg_mode_head{
  background:linear-gradient(var(--Brown), var(--White));
}

.porg_eye {
  width: 34px;
  height: 34px;
  background: var(--Black);
  border-radius: 50%;
  border: 1px solid var(--White);
  margin-left: 51px;
  margin-top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(-8px -4px 3px var(--Tan));
  }
