:root {
  --Black: #000;
  --White: #f0e4e4;
  --Purple: #5d5080;
  --Gray: #5c5470;
  --MidGray: #352f44;
  --DarkGray: #2a2438;
  --DarkRed: #a42624;
}


.flex-container > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  background: var(--Black);
      justify-content: center;
  align-items: center; 
  position: relative;
}


.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.outer_frame {
  width: 950px;
  height: 330px;
  border: 4px white solid;
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: row;
  background-color: #333;
}



.droid {
	display: flex;
	justify-content: center;

	position: absolute; 
	overflow: visible;
	margin-top: 50px;
	flex-direction: column;
/*	filter: drop-shadow(0 0 1.5rem white); */
}

.plates {
	background-color: var(--DarkRed);
	height: 34px;
	width: 200px;
	border: 1px solid black;
	border-radius: 4%;

}

.top {
	border-bottom: 35px solid var(--DarkRed);
	border-top: 40px solid transparent;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
		filter: drop-shadow(0 0 .5rem black);
 	border-radius: 4%;
}

.semicircle {
	height: 17px;
	width: 40px;
	border-radius: 50%;
	background-color: var(--Gray);
	margin-left:20px;
	margin-top: -13px;

	position: relative;
	z-index: 3;
}

.ringaroundeye {
	height: 34px;
	width: 34px;
	border-radius: 50%;
	border: 2px solid black;
	background-color: var(--Gray);
	margin-left: 20px;
	margin-top: -10px;
	position: relative;
	z-index: 7;
}

.eye {
	background-color: black;
	height: 26px;
	width: 26px;
	border-radius: 50%;
	border: 1px solid var(--Gray);
	margin-left: 3px;
	margin-top: 2px;
	position: relative;
		z-index: 5;

	}

	.eye2 {
	background-color: black;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	border: 1px solid var(--Gray);
	margin-left: 66px;
	margin-top: -24px;
	}

	.inside {
		background: linear-gradient(to right,
		var(--Gray) 33%, 
    	var(--DarkGray)
    	);
		height: 36px;
		width: 160px;
		border-bottom: 2px solid var(--DarkGray);
		border-right: 1px solid var(--DarkGray);
		border-left: 1px solid var(--DarkGray);
		margin-left: 20px;
		z-index: 11;
	}

		.inside2 {
		background: linear-gradient(to right,
    	var(--Gray) 33%, 
    	var(--DarkGray)
    	);
		height: 10px;
		width: 160px;
		border: 2px solid var(--DarkGray);
		margin-left: 20px;
	}

	.bottom{

	 justify-content: space-between;
	
	}

	.footR {
	background-color: var(--DarkRed);
	height: 40px;
	width: 40px;
	border: 2px solid black;
	margin-left: -6px;
	margin-top: -8px;
	border-radius: 4%;

}

	.footL {
	background-color: var(--DarkRed);
	height: 40px;
	width: 40px;
	border: 2px solid black;
	margin-left: 156px;
	margin-top: -43px;
	border-radius: 4%;
}

.name {
	color: white;
	margin-bottom: -450px;
}
