:root {
  --Black: #000;
  --White: #f0e4e4;
  --OffWhite: #dbd8e3;
  --Gray: #5c5470;
  --MidGray: #352f44;
  --DarkGray: #2a2438;

  --BlueHighlight: #028795;
}


.flex-container > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  background: var(--Black);
      justify-content: center;
  align-items: center; 
  position: relative;
}


.main {
  background-color:red;
	height: 100%;
	width: 100%;
   display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.outer_frame {
  width: 300px;
  height: 600px;
  border: 4px black solid;
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: row;
  background-color:var(--White)
}



.theChild {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute; 
	overflow: visible;
	margin-top: 50px;
	filter: drop-shadow(0 0 1.5rem white);
}

.childRobe {
	background-color: var(--White);
	height: 40px;
	width: 88px;
	margin-top: -70px;
	margin-right: -108px;
	display: flex;
	justify-content: space-between;
}


.childRobeCollar {
	background-color: var(--White);
	height: 42px;
	width: 92px;
	margin-top: -90px;
	margin-right: -92px;
	border-top-left-radius: 34%;
	border-top-right-radius: 34%;
	border: 1px solid black;
}

.childHands {
	background-color: var(--White);
    height: 14px;
    width: 20px;
    margin-top: 6px;
  border: 2px solid black;
    border-top-left-radius: 34%;
	border-top-right-radius: 34%;
}

.childHead {
	background-color: var(--White);
    height: 40px;
    width: 60px;
    border: 1px solid black;
    margin-top: -150px;
    margin-right: -76px;
    border-top-left-radius: 34%;
	border-top-right-radius: 34%;
	display: flex;
	justify-content: space-evenly;
	overflow: visible;
}


.childEyes {
	background-color: black;
	height: 14px;
	width: 14px;
	border-radius: 50%;
	margin-top: 8px;
	display: flex;
	justify-content: center;
	align-items: center; 
  border: 1px white solid;
}


.pupil {
	background-color: white;
	height: 4px;
    width: 4px;
    border-radius: 50%;
    margin-top: -8px;
    margin-right: -4px;
}
    


.childEars {
    background-color:  var(--White);
    height: 12px;
    width: 100px;
    border: 1px solid black;
    margin-top: -160px;
    margin-right: -81px;
    border-bottom-left-radius: 62%;
    border-bottom-right-radius: 62%;
    border-top-left-radius: 62%;
    border-top-right-radius: 62%;
}

.cradleBody {
	background-color: var(--Black);
	height: 50px;
	width: 120px;
	border-top-right-radius: 40%;
	border-top-left-radius: 40%;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center; 
	border: 2px solid black;
	border-top: 0;
	overflow: visible;
	flex-direction: column;
}

.cradleLip {
	background-color:  var(--White);
	height: 12px;
	width: 128px;
	border: 2px solid black;
	margin-top: -66px;
	
}

.head {
	background-color: var(--Black);
	position: absolute;
	height: 170px;
	width: 120px;
	border-top-right-radius: 80%;
	border-top-left-radius: 80%;
	border-bottom-left-radius: 70%;
	border-bottom-right-radius: 70%;

	border: 2px solid var(--BlueHighlight);
	display: flex;
	justify-content: center;
	align-items: center; 
	margin-top: -138px;
    margin-right: 10px;
	overflow: visible;
	z-index: -9;
}

.eyes {
	background-color: var(--White);
	position: absolute;
	height: 48px;
	width: 48px;
	border-top-right-radius: 44%;
	border-bottom-right-radius: 44%;
	border-top-left-radius: 74%;
	border-bottom-left-radius: 74%;
	transform: skew(10deg, 31deg);
	border: 2px solid var(--BlueHighlight);
	margin-top: -19px;
    margin-right: 39px;
	}

	.left {

	background-color: var(--White);
	border: 2px solid var(--BlueHighlight);

	position: absolute;
	height: 48px;
	width: 48px;
	transform: skew(11deg, -31deg) scaleX(-1); 
	margin-left: 67px;
    margin-top: -17px;



	border-top-right-radius: 44%;
	border-bottom-right-radius: 44%;
	border-top-left-radius: 74%;
	border-bottom-left-radius: 74%;
	}
